//Color vars
$main: #ffffff;
$lightBlue: #007c91;
$dark: #383838;
$grey: #515151;
$liteGrey: #739C9E;
$black: #000000;
$form_back: #efefef;
$white:#ffffff;
$footerBackgroung:#34515e;
$buttonsCyan:#00acc1;
$hoverCyan:#5ddef4;
$errorColor:#f52b2b;
