@import "../../assets/scss/variables.scss";

.signup-inputs,
.signin-inputs {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 342px;

  .credentials-input-section {
    position: relative;

    input {
      width: 100%;
      margin-bottom: 20px;
    }
    .input-authorization-error {
      top: 75px;
    }
  }
}

.data-input {
  position: relative;
}

.input-error,
.input-authorization-error {
  position: absolute;
  top: 24px;
  color: $errorColor;
  font-size: $fontSizeError;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
}


.credentials-input {
  width: 140px;
  margin-bottom: 30px;
  // background: $white;
  // border-radius: 10px;
  // outline: none;
  // font-weight: bold;
    // &:focus {
    //   border: 2px solid $lightBlue;
    // }
  &:first-child {
    margin-bottom: 10px;
  }
}