@import "../../assets/scss/variables.scss";

.main {
  &__wrapper {
    width: 750px;
    margin: 0 auto;
    padding-top: 60px;
  }
  &__loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main__title {
  font-weight: 700;
  font-size: 36px;
  padding: 0px 10px 35px 10px;
  display: block;
  margin: 0px;
}
.main__title:after {
  content: "";
  display: block;
  background-color: $black;
  border: 1.5px solid $black;
  width: 105px;
  position: relative;
  right: 10px;
}
