.cardsListWrapper {
    input{
        margin-bottom: 25px;
        height: 32px;
        font-size: 18px;
        color: #000;
        font-family: Roboto;
        font-weight: bold;
        border: 1px solid #383838;
        box-sizing: border-box;
        border-radius: 10px;
        &:focus {
            border: 2px solid #039dfc; 
            border-radius: 10px;
        }
    }

    input::placeholder {
        font-size: 14px;
        font-weight: bold;
        color: #515151;
    }

    &__inputDate{
        width: 120px;
    }
    &__textareaProfit{
        font-family: Roboto;
        margin-bottom: 25px;
        padding: 5px 10px;
        height: 113px;
        font-size: 18px;
        font-weight: bold;
        resize: none;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        &:focus {
            border: 2px solid #039dfc; 
            border-radius: 10px;
        }
    }

    textarea::placeholder {
        font-size: 14px;
        color: #515151;
        font-weight: bold;
    }
}

.cardsListWrapper .form .cardsListWrapper__inputSubmit {
    margin-left: auto;
        width: 164px;
        height: 37px;
        background: #7FC9CE;
        font-weight: bold;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        outline: none;
}

.cardsListWrapper .form .cardsListWrapper__inputSubmit:hover {
    cursor: pointer;
    filter: brightness(115%);
}