@import "../../assets/scss/variables.scss";
.profile {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  padding-top: 60px;
  &__img {
    text-align: center;
    border-radius: 50%;
    background: $form_back;
    margin-bottom: 15px;
  }
  .logo {
    font-weight: bold;
    font-size: 260px;
  }
  &__input {
    margin-bottom: 21px;
    font-size: bold;
    background: $form_back;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 7px;
    font-weight: bold;
  }
  .signout {
    display: flex;
    justify-content: center;
  }
}

.loader {
  align-self: center;
}
