@import "../../assets/scss/variables.scss";

.profile {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  padding-top: 60px;
  
  .logo {
    font-weight: bold;
    font-size: 260px;
  }

  .profile__img-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .profile-photo{
      display: block;
      height: 220px;
      width: 220px;
      margin-bottom: 15px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__input {
    background: $white;
    border-radius: 10px;
    outline: none;
    border: 2px solid $lightBlue;
    padding: 7px;
    font-weight: bold;
    width: 75%;
    &[disabled] {
      background: $form_back;
      border: none;
    }
  }

  .signout {
    display: flex;
    justify-content: center;
  }

  .form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}
