@import "../../assets/scss/variables.scss";
.button {
  padding: 5px 15px 5px 30px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: $white;
  border: none;
  background: none;
}
.nav__button{
  font-weight: 400;
  &:hover{
    color:$hoverCyan;
  }
}

.button:active,
.button:focus {
  outline: none;
  color: $grey;
}
.btn-form {
  height: 40px;
  padding: 0 20px 0 20px;
  align-self: flex-end;
  background: $buttonsCyan;
  border:none;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 50px;
  &:hover{
    background: $white;
    border: 2px solid $buttonsCyan;
  }
}
.btn-edit {
  background-color: $white;

  .button-icon{
    height: 30px;
    width: 30px;
    fill: $grey;
    &:hover{
      fill: $buttonsCyan;
    }
  }
}

.btn-add-photo {
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 20px;
  background-color: $buttonsCyan;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: border-box;
  &:hover{
    background: $white;
    border: 2px solid $buttonsCyan;
  }
}