@import "../../assets/scss/variables.scss";
.button {
  padding: 5px 15px 5px 30px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: none;
  background: none;
}
.nav__button:nth-child(1) {
  padding: 5px 20px 5px 30px;
}
.nav__button:last-child {
  padding: 5px 0px 5px 20px;
}

.button:active,
.button:focus {
  outline: none;
  color: $grey;
}
.btn-form {
  width: 128px;
  height: 33px;
  align-self: flex-end;
  background: $lightBlue;
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 50px;
}
.btn-edit {
  background-color: $lightBlue;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 4px 15px;
  position: absolute;
  right: -92px;
  top: 6px;
}

.btn-add-photo {
  background-color: $lightBlue;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 4px 15px;
  align-self: center;
}
