@import "../../assets/scss/variables.scss";
.profile-img{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}