body, html {
    margin: 0;
    height: 100%;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    flex-grow: 1;
    flex-shrink: 0;
}
.App {
    height: 100%;
}
a {
    text-decoration: none;
}