@import "../../assets/scss/variables.scss";
.modal {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 1100;
  background-color: $form_back;
}
